In [1]:
import numpy as np
import pandas as pd
import geocoder

In [2]:
#!pip install geocoder

## loading data from previous step

In [3]:
df = pd.read_csv('df_canada.csv')

In [4]:
df.shape

(103, 4)

In [5]:
df.head()

   Unnamed: 0 Postcode      Borough                         Neighbourhood
0           0      M1B  Scarborough                         Rouge,Malvern
1           1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2           2      M1E  Scarborough       Guildwood,Morningside,West Hill
3           3      M1G  Scarborough                                Woburn
4           4      M1H  Scarborough                             Cedarbrae

## geocoder failure, so using prepared data

In [6]:
url = 'http://cocl.us/Geospatial_data'

df_cords = pd.read_csv(url)
df_cords.shape

(103, 3)

### shape fits

In [7]:
df_cords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

## cleaning column names

In [8]:
df_cords.columns = ['Postcode','Latitude', 'Longitude']

## adding Latitude, Longitude

In [9]:
df_merge = pd.merge(df, df_cords, on='Postcode')
df_merge.head()

,Unnamed: 0,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [10]:
df_merge.to_csv(r'df_done.csv')